/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid;
}

.btn {
    display: inline-block;
    background: #e8491d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: #35424a;
}
